p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
    width: 70%;
}

p::first-letter {
    font-size: xx-large;
    color: rgba(0, 0, 0, 0.964);
    font-family: 'Courier New', Courier, monospace;
}

img {
    width: 35%;
    height: 350px;
    margin: 10px;
    border: 2px solid black;
}

img:hover {
    width: 33%;
    margin: 5px;
    padding: 5px;
    border: 2px dotted blue;
    cursor: pointer;
}